@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=DotGothic16&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-family: Roboto;
}

.container {
    padding: 0 25px;
}
