.text-center{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.homeBtn{
    background-color: #df815b;
    color: white;
    border: 0;
    border-radius: 7px;
    padding: 8px 12px;
}

.homeBtn:hover{
    background-color: white;
    color: #df815b;

    border: 1px solid;
    border-radius: 7px;
    padding: 8px 12px;
}

.shopping-cart{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 7px;
}

.cart-item{
    display: flex;
    border: 2px solid #212529a8;
    border-radius: 7px;
}

.cart-item img {
    width: 100px;
}

.title-price-x{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.title-price-x h4{
    display: flex;
    align-items: center;
   gap: 7px;
}

.details{
    width: 100%;
    margin: 5px 10px;
        

}

.bi-x-lg {
    color: red;
    font-weight: bold;
}

.bi-x-lg:hover {
    background-color: rgba(255, 0, 0, 0.636);
    color: white;
    border-radius: 3px;
}